In [3]:
import os
import pandas as pd

In [4]:
data = pd.read_csv(os.path.join("powerball.csv"))
df = pd.DataFrame(data)

In [5]:
print(df)

      Draw number   Draw date  Winning Number 1  Winning Number 2  \
0            1424  31/08/2023                10                35
1            1423  24/08/2023                 8                17
2            1422  17/08/2023                24                12
3            1421  10/08/2023                11                24
4            1420  03/08/2023                13                 7
...           ...         ...               ...               ...
1419            5  20/06/1996                 3                15
1420            4  13/06/1996                25                37
1421            3  06/06/1996                 4                32
1422            2  30/05/1996                 6                 8
1423            1  23/05/1996                 2                 8

      Winning Number 3  Winning Number 4  Winning Number 5  Winning Number 6  \
0                   27                32                 6              14.0
1                   18                20                11               3.0
2                   30                26                10              17.0
3                    9                23                18              16.0
4                   18                 1                23              25.0
...                ...               ...               ...               ...
1419                30                33                39               NaN
1420                40                42                43               NaN
1421                33                36                40               NaN
1422                15                23                44               NaN
1423                27                30                42               NaN

      Winning Number 7  Powerball Number  ...  Division 7 prize pool  \
0                 31.0                 6  ...             3010512.75
1                 33.0                 7  ...             2167172.90
2                 21.0                10  ...             1554120.00
3                 10.0                 9  ...             1042186.70
4                 33.0                 7  ...             7901307.50
...                ...               ...  ...                    ...
1419               NaN                39  ...                    NaN
1420               NaN                17  ...                    NaN
1421               NaN                44  ...                    NaN
1422               NaN                 5  ...                    NaN
1423               NaN                 3  ...                    NaN

      Division 7 amount  Division 8 winners  Division 8 winners in WA  \
0                 48.35            303990.0                   40281.0
1                 42.05            245571.0                   31934.0
2                 45.00            166839.0                   21168.0
3                 45.05            116212.0                   14644.0
4                 43.10            879573.0                  115103.0
...                 ...                 ...                       ...
1419                NaN                 NaN                       NaN
1420                NaN                 NaN                       NaN
1421                NaN                 NaN                       NaN
1422                NaN                 NaN                       NaN
1423                NaN                 NaN                       NaN

      Division 8 prize pool  Division 8 amount  Division 9 winners  \
0                6383790.00              21.00            895561.0
1                4604456.25              18.75            695597.0
2                3303412.20              19.80            473993.0
3                2213838.60              19.05            331747.0
4               16799844.30              19.10           2493416.0
...                     ...                ...                 ...
1419                    NaN                NaN                 NaN
1420                    NaN                NaN                 NaN
1421                    NaN                NaN                 NaN
1422                    NaN                NaN                 NaN
1423                    NaN                NaN                 NaN

      Division 9 winners in WA  Division 9 prize pool  Division 9 amount
0                     117283.0            10970622.25              12.25
1                      91812.0             7895025.95              11.35
2                      60398.0             5664216.35              11.95
3                      41531.0             3798503.15              11.45
4                     326932.0            28798954.80              11.55
...                        ...                    ...                ...
1419                       NaN                    NaN                NaN
1420                       NaN                    NaN                NaN
1421                       NaN                    NaN                NaN
1422                       NaN                    NaN                NaN
1423                       NaN                    NaN                NaN

[1424 rows x 46 columns]

In [6]:
df['Draw date'] = pd.to_datetime(df['Draw date'], format='%d/%m/%Y')


#df['Draw date'] = df['Draw date'].dt.strftime('%Y%m%d')

In [7]:
print("\nDataFrame with cleaned and formatted date values:")
print(df)

DataFrame with cleaned and formatted date values:
      Draw number  Draw date  Winning Number 1  Winning Number 2  \
0            1424 2023-08-31                10                35
1            1423 2023-08-24                 8                17
2            1422 2023-08-17                24                12
3            1421 2023-08-10                11                24
4            1420 2023-08-03                13                 7
...           ...        ...               ...               ...
1419            5 1996-06-20                 3                15
1420            4 1996-06-13                25                37
1421            3 1996-06-06                 4                32
1422            2 1996-05-30                 6                 8
1423            1 1996-05-23                 2                 8

      Winning Number 3  Winning Number 4  Winning Number 5  Winning Number 6  \
0                   27                32                 6              14.0
1                   18                20                11               3.0
2                   30                26                10              17.0
3                    9                23                18              16.0
4                   18                 1                23              25.0
...                ...               ...               ...               ...
1419                30                33                39               NaN
1420                40                42                43               NaN
1421                33                36                40               NaN
1422                15                23                44               NaN
1423                27                30                42               NaN

      Winning Number 7  Powerball Number  ...  Division 7 prize pool  \
0                 31.0                 6  ...             3010512.75
1                 33.0                 7  ...             2167172.90
2                 21.0                10  ...             1554120.00
3                 10.0                 9  ...             1042186.70
4                 33.0                 7  ...             7901307.50
...                ...               ...  ...                    ...
1419               NaN                39  ...                    NaN
1420               NaN                17  ...                    NaN
1421               NaN                44  ...                    NaN
1422               NaN                 5  ...                    NaN
1423               NaN                 3  ...                    NaN

      Division 7 amount  Division 8 winners  Division 8 winners in WA  \
0                 48.35            303990.0                   40281.0
1                 42.05            245571.0                   31934.0
2                 45.00            166839.0                   21168.0
3                 45.05            116212.0                   14644.0
4                 43.10            879573.0                  115103.0
...                 ...                 ...                       ...
1419                NaN                 NaN                       NaN
1420                NaN                 NaN                       NaN
1421                NaN                 NaN                       NaN
1422                NaN                 NaN                       NaN
1423                NaN                 NaN                       NaN

      Division 8 prize pool  Division 8 amount  Division 9 winners  \
0                6383790.00              21.00            895561.0
1                4604456.25              18.75            695597.0
2                3303412.20              19.80            473993.0
3                2213838.60              19.05            331747.0
4               16799844.30              19.10           2493416.0
...                     ...                ...                 ...
1419                    NaN                NaN                 NaN
1420                    NaN                NaN                 NaN
1421                    NaN                NaN                 NaN
1422                    NaN                NaN                 NaN
1423                    NaN                NaN                 NaN

      Division 9 winners in WA  Division 9 prize pool  Division 9 amount
0                     117283.0            10970622.25              12.25
1                      91812.0             7895025.95              11.35
2                      60398.0             5664216.35              11.95
3                      41531.0             3798503.15              11.45
4                     326932.0            28798954.80              11.55
...                        ...                    ...                ...
1419                       NaN                    NaN                NaN
1420                       NaN                    NaN                NaN
1421                       NaN                    NaN                NaN
1422                       NaN                    NaN                NaN
1423                       NaN                    NaN                NaN

[1424 rows x 46 columns]

In [19]:
file_path = '/workspaces/tatamachance/powerball_cleaned.csv'

df.to_csv(file_path, index=False)

In [8]:
df.iloc[5:, 10:]

,Division 1 winners,Division 1 winners in WA,Division 1 prize pool,Division 1 amount,Division 2 winners,Division 2 winners in WA,Division 2 prize pool,Division 2 amount,Division 3 winners,Division 3 winners in WA,...,Division 7 prize pool,Division 7 amount,Division 8 winners,Division 8 winners in WA,Division 8 prize pool,Division 8 amount,Division 9 winners,Division 9 winners in WA,Division 9 prize pool,Division 9 amount
5,0.0,0.0,0.0,0.0,8.0,1.0,1079756.80,134969.60,128.0,20.0,...,4261683.5,44.90,448183.0,60147.0,9053296.60,20.20,1286967.0,174490.0,15572300.7,12.10
6,0.0,0.0,0.0,0.0,13.0,4.0,776886.50,59760.50,118.0,16.0,...,3064672.0,42.40,329282.0,42731.0,6503319.50,19.75,936166.0,120475.0,11187183.7,11.95
7,0.0,0.0,0.0,0.0,2.0,1.0,518242.10,259121.05,58.0,10.0,...,2046142.1,39.10,223117.0,29519.0,4339625.65,19.45,621126.0,81050.0,7453512.0,12.00
8,0.0,0.0,0.0,0.0,5.0,0.0,397611.00,79522.20,54.0,4.0,...,1568417.1,41.10,176763.0,20996.0,3331982.55,18.85,487744.0,59619.0,5730992.0,11.75
9,0.0,0.0,0.0,0.0,1.0,0.0,249394.55,249394.55,44.0,4.0,...,984004.2,36.45,101723.0,12503.0,2090407.65,20.55,286855.0,35297.0,3585687.5,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.head()

,Draw number,Draw date,Winning Number 1,Winning Number 2,Winning Number 3,Winning Number 4,Winning Number 5,Winning Number 6,Winning Number 7,Powerball Number,...,Division 7 prize pool,Division 7 amount,Division 8 winners,Division 8 winners in WA,Division 8 prize pool,Division 8 amount,Division 9 winners,Division 9 winners in WA,Division 9 prize pool,Division 9 amount
0,1424,2023-08-31,10,35,27,32,6,14.0,31.0,6,...,3010512.75,48.35,303990.0,40281.0,6383790.00,21.00,895561.0,117283.0,10970622.25,12.25
1,1423,2023-08-24,8,17,18,20,11,3.0,33.0,7,...,2167172.90,42.05,245571.0,31934.0,4604456.25,18.75,695597.0,91812.0,7895025.95,11.35
2,1422,2023-08-17,24,12,30,26,10,17.0,21.0,10,...,1554120.00,45.00,166839.0,21168.0,3303412.20,19.80,473993.0,60398.0,5664216.35,11.95
3,1421,2023-08-10,11,24,9,23,18,16.0,10.0,9,...,1042186.70,45.05,116212.0,14644.0,2213838.60,19.05,331747.0,41531.0,3798503.15,11.45
4,1420,2023-08-03,13,7,18,1,23,25.0,33.0,7,...,7901307.50,43.10,879573.0,115103.0,16799844.30,19.10,2493416.0,326932.0,28798954.80,11.55